<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MVC Mini Project</title>
<style>
body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
  padding-top: 90px;
}
.card {
  background: white;
  display: inline-block;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}
a {
  display: block;
  margin-top: 14px;
  text-decoration: none;
  color: white;
  background: #007bff;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
}
a:hover {
  background: #0056b3;
}
</style>
</head>
<body>

<div class="card">
  <h2>Spring Boot MVC Mini Project</h2>
  <p>User Management System</p>
  <a href="/user/register">Add User</a>
  <a href="/user/list">View Users</a>
</div>

</body>
</html>